*{
    padding: 0%;
    margin: 0%;
}






/* Header */
/* Header Bootstrap*/
header {
    background: #3a2114;
    /* Menu desplegable */
  }
  
  header .navegacion-personal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  
  header .logo-efe {
    margin-left: 20px;
  }
  
  header .logo-efe img {
    width: 90px;
  }
  
  header .menu-desplegable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  header .menu-personal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  header .menu-personal .i-menu {
    margin: 20px;
    background: white;
    border: solid black 1px;
  }
  
  header .menu-personal .i-menu .a-menu {
    font-family: sans-serif;
    color: brown;
    font-weight: 800;
    font-size: 20px;
    height: auto;
  }
  
  header .i-menu {
    margin: 20px;
    background: white;
    border: solid black 1px;
  }
  
  header .i-menu .a-menu {
    font-family: sans-serif;
    color: brown;
    font-weight: 800;
    font-size: 20px;
    height: 20px;
  }
  
  header .i-menu .desplegable {
    background: #03072E;
  }
  
  header .i-menu .desplegable li {
    border-top: 2px solid grey;
    list-style: none;
  }
  
  header .i-menu .desplegable li a {
    color: white;
    text-decoration: none;
  }
  
  header .i-menu .desplegable .sub-menu {
    font-family: sans-serif;
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    padding-left: 3px;
  }
  
  header .lugar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    border: 2px solid black;
    background-color: #FEFEFE;
    height: 100px;
    padding-left: 3%;
    padding-right: 7%;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .lugar h1 {
    font-family: "PT Serif script=latin rev=1";
    font-weight: 700;
  }
  
  @media screen and (max-width: 1110px) {
    header .navegacion-personal {
      height: auto;
    }
    header .lugar, header .logo-efe {
      display: none;
    }
    header .menu-personal {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (max-width: 920px) {
    header .menu-personal ul {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px;
      margin-bottom: 0;
    }
    header .menu-personal ul .i-menu {
      border: none;
      padding: 20px;
      margin: 0;
      background: none;
    }
    header .productos {
      background: none;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    header .productos .a-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    header .productos .desplegable .li-sub-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  /*# sourceMappingURL=h.css.map */

/* Contenido final */
.publicacion-eblog{
  display: flex;
  flex-direction: row;
  width: 80%;
}
.container{
  margin-top: 20px;
}
.titulo-b-c{
  display: flex;
  justify-content: center;
  color: #9D4B1D;
}


/* Contenido original */
/* div .contenido-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 25px 0;
    gap: 20px;
}
.info-eblog{
    background: darkgray;
    padding: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    
}
.imagen-bailey {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.imagen-bailey img{
    width: 85%;
}
.buscar{
    padding: 10px;
    height: 100px;
    background: #FFA900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buscar h3{
    display: flex;
    justify-content: center;
} */











/* Footer */
footer{   
    background-color: #3a2114;
    border-top: 2px solid black;
    padding: 10px 50px ;
}
.logo-f{
    position: relative;
    right: 20px;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion{
    margin-left: 150px;
    
}
.diseñador{
    text-align: center;
    color: #b5b5b5;
}
footer ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    margin: 10px;
}
footer .info-contacto , .info-horario{
    color: gray;
}
.menu-footer{
  list-style: none;
  gap: 5px;
  display: flex;
}
.menu-footer li{
  border: 2px dashed #FFA900;

}

.menu-footer li a{
  text-decoration: none;
  
}

/* Footer mobile */
@media screen and (max-width: 1200px) {
    .info{
        display: grid;
        justify-content: center;
        grid-template-areas: "navegacion navegacion"
                             "informacion informacion"
                             "diseñador diseñador";
                            
        gap: 10px;
    }
    .nav-footer{
        grid-area: navegacion;   
    }
    .menu-footer{
        display: flex;
        justify-content: center;
    }
    .navegacion{
        margin-left: 0%;
    }
    .data{
        grid-area: informacion;
        display: grid;
        grid-template-areas: "contacto horario";
        gap: 5px;
    }
    .info-contacto{
        grid-area: contacto;
    }
    .info-horario{
        grid-area: horario;
    }
    footer .logo-f{
        display: none;
    }
   
   
    footer .diseñador{
        grid-area: diseñador;
    }
}    
@media screen and (max-width:500px) {
    .menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
