*{
    padding: 0%;
    margin: 0%;
}




/* Header Bootstrap*/
header {
    background: #3a2114;
    /* Menu desplegable */
  }
  
  header .navegacion-personal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  
  header .logo-efe {
    margin-left: 20px;
  }
  
  header .logo-efe img {
    width: 90px;
  }
  
  header .menu-desplegable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  header .menu-personal {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  header .menu-personal .i-menu {
    margin: 20px;
    background: white;
    border: solid black 1px;
  }
  
  header .menu-personal .i-menu .a-menu {
    font-family: sans-serif;
    color: brown;
    font-weight: 800;
    font-size: 20px;
    height: auto;
  }
  
  header .i-menu {
    margin: 20px;
    background: white;
    border: solid black 1px;
  }
  
  header .i-menu .a-menu {
    font-family: sans-serif;
    color: brown;
    font-weight: 800;
    font-size: 20px;
    height: 20px;
  }
  
  header .i-menu .desplegable {
    background: #03072E;
  }
  
  header .i-menu .desplegable li {
    border-top: 2px solid grey;
    list-style: none;
  }
  
  header .i-menu .desplegable li a {
    color: white;
    text-decoration: none;
  }
  
  header .i-menu .desplegable .sub-menu {
    font-family: sans-serif;
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    padding-left: 3px;
  }
  
  header .lugar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    border: 2px solid black;
    background-color: #FEFEFE;
    height: 100px;
    padding-left: 3%;
    padding-right: 7%;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header .lugar h1 {
    font-family: "PT Serif script=latin rev=1";
    font-weight: 700;
  }
  
  @media screen and (max-width: 1110px) {
    header .navegacion-personal {
      height: auto;
    }
    header .lugar, header .logo-efe {
      display: none;
    }
    header .menu-personal {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  @media screen and (max-width: 920px) {
    header .menu-personal ul {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px;
      margin-bottom: 0;
    }
    header .menu-personal ul .i-menu {
      border: none;
      padding: 20px;
      margin: 0;
      background: none;
    }
    header .productos {
      background: none;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    header .productos .a-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    header .productos .desplegable .li-sub-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  /*# sourceMappingURL=h.css.map */

/* Header original */
/* /* header{
    border-bottom: 2px solid black;
    position: sticky;
    top: 1px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #3a2114;
}
.logo{
  border: 2px solid black;
  position: relative;
  left: 10%;
}
.menu-icon, #check{
    display: none;
}
.menu-icon img{
    width: 40px;
    height: 40px; 
    display: flex;
}
.nav-header{   
    position: relative;
    
    padding: 15px;
    
}
.menu-header > li {
    display: inline-block;
    position: relative;
    
}
.menu-header li a:hover{
    color: #E29968;
}

.submenu{
    position: absolute;
    display: none;
    left: -1px;
    top: 51px;
}
.submenu li{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    list-style: none;
    background-color: #03072E;
}
.menu-header li:hover .submenu{
    display: block;
}
ul {
    display: flex;
    justify-content: center;        
}
header .menu-header > li{
    
    border: 0.8px solid black;
    background-color: #F1F1F1 ;
    list-style: none;
    margin: 15px; 
    padding: 10px; 
    transition: all .3s;
}
.menu-header > li:hover{
    padding: 12px;
    background-color: #b5b5b5;
}
header li a{
    font-family: sans-serif;
    color: brown;
    font-weight: 800;
    font-size: 20px;
}


a{
    text-decoration: none;
}
li{
    font-size: 110%;
}
 Header Tablet 
@media screen and (max-width: 1200px) {
    header{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%; 
    }
    header .menu-header > li {
        border: 0.8px solid black;
        background-color: #F1F1F1;
        list-style: none;
        margin: 2px;
        padding: 3px;
    }
    .nav-header{
        position: relative;
        left: 0%;
    }
    .submenu{
        left: -6px;
        top: 36px;
    }
    
    .logo{
        display: none;
    }
    .ubic{
        display: none;
    }
    
}
Header celular
@media screen and (max-width: 500px) {
    header{
        position: absolute;
        width: 100%;
    } 
        
   .checkbtn{
       display: block;
   }
   .menu-icon{
       display: block;
       position: absolute;
       top: -105px;
   }
   .nav-header{
       top: 100px;
   }
   .nav-header > ul{
       display: block;
       position: fixed;
               
       top: -200%;
       background: #3a2114 ;
       width: 100%;
       right: 0;
       transition: 1s;
       
   }
   
   .nav-header ul li{
       padding: 2rem;
       display: flex;
       
       justify-content: center;
       background: none;
       list-style: none;
       margin: 0;
       border: 1px solid black;
    }
   
    #check:checked ~ ul{
        top: 100px;
        
    }
    .nav-header{
        position: relative;
        left: -5%;
    }
     Sub menu 
    
    
}  */
/* Contenido  */
.info-contenido{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 500px;
}
.logo-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/Imagenes/tinywow_crop_2746994.png);
}
.logo-c img{
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 10px;
}
.info-nuestra{
    display: flex;
    align-items: center;
    padding: 100px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.mayor18{
    display: block;
}
/* Contenido celular */
@media screen and (max-width: 650px) {
    .info-contenido{
        display: block;
        height: auto;
    }
    div .logo-contenido{
        height: 300px;
    }
    .info-nuestra{
        padding: 100px 30px 100px 30px;
        
    }
}











/* Footer */
footer{   
    background-color: #3a2114;
    border-top: 2px solid black;
    padding: 10px 50px ;
}
.logo-f{
    position: relative;
    right: 20px;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion{
    margin-left: 150px;
    
}
.diseñador{
    text-align: center;
    color: #b5b5b5;
}
footer ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    margin: 10px;
}
footer .info-contacto , .info-horario{
    color: gray;
}
.menu-footer{
    list-style: none;
    gap: 5px;
}
.menu-footer li{
    border: 2px dashed #FFA900;
}

/* Footer mobile */
@media screen and (max-width: 1200px) {
    .info{
        display: grid;
        justify-content: center;
        grid-template-areas: "navegacion navegacion"
                             "informacion informacion"
                             "diseñador diseñador";
                            
        gap: 10px;
    }
    .nav-footer{
        grid-area: navegacion;   
    }
    .menu-footer{
        display: flex;
        justify-content: center;
    }
    .navegacion{
        margin-left: 0%;
    }
    .data{
        grid-area: informacion;
        display: grid;
        grid-template-areas: "contacto horario";
        gap: 5px;
    }
    .info-contacto{
        grid-area: contacto;
    }
    .info-horario{
        grid-area: horario;
    }
    footer .logo-f{
        display: none;
    }
   
   
    footer .diseñador{
        grid-area: diseñador;
    }
}    
@media screen and (max-width:500px) {
    .menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
